.wrapper {
  height: 100%;
  background-color: #00796B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .4em;
  img.footer {
    position: absolute;
    bottom: 10px;
    color: rgb(1, 158, 140);
    height: 24px;
  }
}