.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: .4em;
}

.card {
  .main-table {
    
    tr {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 375px) {
  .card {
    max-width: 360px;
  }
}

.camera-action-button {
  position: absolute !important;
  right: 15px;
  bottom: 15px;
}