.MuiCardActions-root {
  flex-direction: row-reverse;
}

@media screen and (max-width: 380px) {
  div.MuiTablePagination-actions {
    margin-left: 0;
  }
  div.MuiTablePagination-selectRoot {
    margin-right: 17px;
  }
}